# Proyecto Final 

## Introducciones 

En esta etapa final del curso, es fundamental poner en práctica todos los conceptos aprendidos. Hemos seguido un proceso gradual de aprendizaje hasta llegar a los temas que abordaremos hoy.

Inicialmente, nos adentramos en la programación en Python, aprendiendo cómo realizar impresiones y, lo más importante, cómo pasar parámetros tanto a funciones como a objetos. También exploramos la importación de bibliotecas, lo que nos permite optimizar y organizar nuestro código de manera más efectiva, así como utilizar funciones predefinidas en lugar de tener que crearlas desde cero.

Posteriormente, nos adentramos en el concepto de DataFrame y cómo trabajar con él: consultar, analizar, modificar y limpiar datos. Aunque hemos explorado todos estos temas de manera superficial, en algunas tareas hemos profundizado en funcionalidades específicas que quizás no se han explorado completamente.

Finalmente, para cerrar el curso, exploramos cómo utilizar conjuntos de datos junto con diversas funciones de paqueterías útiles para un análisis más exhaustivo y detallado de la información, convirtiéndola en datos utilitarios que podemos emplear.

Por ello, en su proyecto final, les pedimos que no lo vean como un simple estudio de caso, sino que se imaginen que están abordando un encargo laboral real. Tienen la libertad de seguir los requisitos mínimos del proyecto o agregar nuevas funcionalidades; los requisitos mínimos son solo el punto de partida, no el límite. Esa es la meta.

Suponiendo que su jefe les ha proporcionado este DataFrame y les ha pedido realizar un análisis completo y detallado de los datos, les invitamos a explorar y analizar los datos a su criterio, considerando todos los aspectos relevantes.

### Requerimientos minimos 

Ahora bien, para comprender este proyecto, se les solicitará que observen la base de datos y como primer paso, investiguen:

Traduzcan las columnas y proporcionen una idea de su posible contenido.
¿Qué representa el culmen?
Posteriormente, realicen un análisis exploratorio del dataframe, centrándose en los tipos de valores que almacenan sus columnas, la cantidad de valores NaN y en qué columnas se encuentran.

El siguiente paso es preparar la base de datos. Para ello, primero deben eliminar las columnas que contienen valores no numéricos, es decir, "sex", "species" e "island". Posteriormente, rellenen con la media de la columna los valores nulos o NaN. Este es un requisito directo que no se puede obviar.

Ahora, comencemos con la parte interesante. Impriman en pantalla la matriz de correlación y posteriormente el heatmap. Analicen cuáles son las dos variables que presentan una correlación más alta. Recuerden importar las bibliotecas matplotlib y seaborn.

Una vez que conozcan las correlaciones, les interesa visualizar la forma que tienen. Por lo tanto, es necesario que realicen una matriz de gráficos de dispersión. Esto lo pueden lograr utilizando el método pairplot de seaborn.

Ahora, realicen una regresión lineal de las dos variables que consideren más significativas. Expongan su coeficiente de determinación (R²) y determinen si es suficientemente explicativo para ustedes. En este apartado, pueden graficar la dispersión de estas dos variables junto con la línea de regresión predicha. También, pueden imprimir los datos que consideren necesarios. Les recomendamos utilizar una función similar a la función score vista en clase, pero también existen más medidas de evaluación.

Luego, implementen el algoritmo de k-means para las dos variables que elijan. Les recomendamos no utilizar las mismas dos variables que usaron para la regresión. Para finalizar, ploteen estos gráficos con la coloración que prefieran. Les recomendamos utilizar solo 2-3 centros, pero si realizan un análisis por separado para determinar la mejor cantidad de centros e iteraciones, también es válido.

Finalmente, realicen una regresión logística que explique el sexo del pingüino a partir del resto de variables que no son cadenas, para ello tomando el dataset original deberán quitar las columnas "species" e "island", rellenar con la media los valores en los nulos, quitar las filas con algún nan en la columna 'sex' y cambiar las cadenas MALE y FEMALE por 0 y 1 respectivamente. Usen como ejemplo el que vimos en la última clase con el profesor.

# Conclusiones y despedida
Con esto, les queremos comunicar que estan un paso mas dentro de este mundo de la estadistica y el ML, asi como del aprendizaje supervisado y no supervisado, esperemos , esto les sirva para engrosar y mejorar su CV y que, se dediquen o no a esto, sirva como material divulgativo y les despierte interes por el tema.

Les deseamos un excelente inicio de curso para los que reingresaran a las actividades este lunes y una gran vida para todos, que el conocimiento y el aprendizaje, siempre este de su lado

De parte de Karla, Manu, Erik y Ale, les agradecemos por su interes y ganas en el curso, ¡Hasta pronto, cientific@s de datos!

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('penguins_size.csv')

In [3]:
df

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   culmen_length_mm   342 non-null    float64
 3   culmen_depth_mm    342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                334 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB